@import "../../styles/variables.scss";
.app-container ::v-deep .el-date-editor .el-range-input, .el-date-editor .el-range-separator{
    font-size: 12px;
  }
  .el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
      width: 330px;
      font-size: 12px;
  }
  .el-date-editor .el-range-input{
    width: 28%;
  }
  .push-times ::v-deep .el-form-item{
    width: 400px;
    text-align: right;
  }
.filterContainer{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
  .fl{
    float: left;
  }
  .fr{
    float:right
  }
  .clear{
    clear: both;
  }
  .tableBox{
    td {
      height: 50px;
      line-height: 50px;
    }
  }
  .filter {
    &-container {
      margin: 10px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
    &-btn {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      // width: 50px;
      // height: 50px;
      // line-height: 50px;
    }
  
  }
  .icon {
        color: #fff;
        font-size: 28px;
        margin-top: 4px;
   }
  
  @mixin rounded-corners {
        display: inline-block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        padding-top: 1px;
        border-radius: 17px;
        margin-bottom: 17px;
        margin-right: 5px;
        cursor: pointer;
  }
  
      .all-svg-container,
      .wx-svg-container,
      .fb-svg-container,
      .tt-svg-container,
      .wb-svg-container,
      .qq-svg-container {
        @include rounded-corners;
      }
  
      .all-svg-container {
        background-color: #1b03f1;
        .icon {
          margin-top: -3px;
          font-size: 15px;
        }
      }
      $wxBg:#24da70;
      $wbBg:orangered;
      $fbBg:#6BA2D6;
      $ttBg:#6BA2D6;
      $qqBg:#6BA2D6;
      .wx-svg-container {
        background-color: $wxBg;
      }
      .wb-svg-container {
        background-color:$wbBg;
      }
      .fb-svg-container {
        background-color: $fbBg;
      }
      .tt-svg-container {
        background-color: $ttBg;
      }
      .qq-svg-container {
        background-color: $qqBg;
        margin-left: 50px;
      }
      .thirdparty {
        &-button{
          width: 35%;
          margin-bottom: 30px;
        }
      }
  
    @media only screen and (max-width: 470px) {
      .thirdparty-button {
        display: none;
      }
      .picker{
        width: 200px;
      }
      .search-input{
        width: 100px;
      }
    }
  
    h1{
      color: #666;
      padding-left: 10px;
    }
    h5{
      margin: 0px;
    }
    h5 span{
      color:red;
    }
    .content{
      &-oauth{
        height: 30px;
      }
      span{
        width: 30px;
        height: 30px;
      }
      .icon{
        font-size:25px;
      }
    }
    .top-wrap {
      position: relative;
      padding: 0 5px;
    }
    .badge {
      position: absolute;
      top: -2px;
      left:32px;
      border:white solid 1px;
      z-index: 1000;
      border-radius: 8px;
      &.twitter {
        background-color: rgb(10, 105, 248);
      }
      &.facebook {
        background-color: rgb(0, 60, 255);
      }
      &.google {
        background-color: $google;
        &.unauth {
          background-color: #ccc;
        }
      }
    }
    .avatar-wrap{
      .pic-lists .el-badge.item{
        top: 0px;
        right: -10px;
        position: absolute;
      }
      div,
      .oauth-wrap{
        display: inline-block;
      }
    }
  
    .el-table__body, .el-table__footer, .el-table__header {
      table-layout: fixed;
      border-collapse: separate;
    }
  
  .avatar-content{
    position: relative;
    height: 44px;
    cursor: pointer;
  }
  .pics-item{
    width: 45px;
    height: 45px;
    position: relative;
    margin:10px;
  }
  
  
  .content-wrap{
      margin-top: 16px;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 10px 10px;
      border-radius: 4px;
      background-color: #f6f7fb;
  }
  .share-icon{
    font-size: 10px;
    height: 12px;
    line-height: 13px;
    color: #616770;
  }
  
  .share-icon svg,
  .share-icon i{
    margin-right: 6px;
    font-size: 14px;
  }
  .right-container .text{
    padding:0 10px;
  }
  
  .el-upload__tip{
    color: #b4b6b8;
  }
  .el-avatar img{
    width: 100%;
  }
  .iconfont.icontw {
      color: #4fa0ec
  }
  .all-svg-container .all{
    display: inline-block;
    margin: 0;
  }
  .iconfont.iconlink1 {
      color: #0b66c1
  }
  .iconfont.iconyoutube {
      color: #e83324
  }
  .word-limit{
    margin-top:10px;
    font-size: 12px;
    text-align: right;
  }
  .text{
      background-color: #f6f7fb;
      line-height: 25px;
      min-height: 50px;
      border-radius: 10px;
      padding: 10px 30px;
      font-size: 12px;
      padding: 0 10px;
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      color: #1e2229;
      line-height: 20px;
      outline: 0;
      word-wrap: break-word;
      height: auto;
      border-radius: 4px;
      text-align: left;
      position: relative;
  }
  .isEdit{
    -webkit-user-modify: read-write-plaintext-only;
  }
  .right-container .content-wrap{
    margin:0 20px;
    position: relative;
  }
  
  .el-button--mini.is-circle{
    padding:3px;
    position: absolute;
    right: 5px;
    top:5px;
    margin-bottom: 20px;
    z-index: 9999;
  }
  
  .account-number{
      font-size: 14px;
      height: 14px;
      line-height: 14px;
  }
  .post_date_wrap {
      margin-top: 5px;
      display: -ms-flexbox;
      display: flex;
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      color: #616770;
  }
  .four_imgs_wrap {
      overflow: hidden;
      position: relative;
      width: 100%;
  }
  .el-avatar--square {
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      background: rgba(0,0,0,0);
      width: 100%;
      height: 100%;
      font-size: 14px;
      z-index: 9999;
  }
  .imgs-1{
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .four_imgs_wrap .imgs-2{
    width: 50%;
    height: 200px;
  }
  .four_imgs_wrap .imgs-3{
    width: 33.3%;
    height: 128px;
  }
  .four_imgs_wrap .imgs-4{
    width: 50%;
    height: 200px;
  }
  .btns{
    margin-top:20px;
    text-align: right;
  }
  .wrap-lists ::v-deep .pushFaild .item .el-badge__content{
    background-color: red;
  }
  // .wrap-lists ::v-deep .pushFaild img{
  //     -webkit-filter:grayscale(100%);
  //     -moz-filter:grayscale(100%);
  //     -ms-filter:grayscale(100%);
  //     -o-filter:grayscale(100%);
  //     filter:grayscale(100%);
  //     filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)
  // }
  .filter-btn{
    position: relative;
  }
  .filter-btn:first-child{
    top: -5px;
  }
  .pic-lists{
    display: none;
  }
  .wrap-lists{
    display: inline-block;
  }
  .wrap-lists ::v-deep .pushDele img{
      -webkit-filter:grayscale(100%);
      -moz-filter:grayscale(100%);
      -ms-filter:grayscale(100%);
      -o-filter:grayscale(100%);
      filter:grayscale(100%);
      filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)
  }
  body .wrap-lists ::v-deep .pushDele .item .el-badge__content{
    background-color: grey;
  }
  .wrap-lists ::v-deep .avatar-content{
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
  }
  .wrap-lists ::v-deep .item{
    position: absolute;
    top: 0px;
    right: -10px;
  }
  .wrap-lists ::v-deep .item .el-badge__content{
    background-color: green;
  }
  .fb-svg-container{
    background-color:#1e69f5;
  }
  .search-wrap{
    position: relative;
  }
  .search-btn{
    position: absolute;
    top: 0;
    right: 0;
  }
  .el-button--medium.is-round{
      padding: 12px 30px;
  }
  .demo-form-inline ::v-deep .search-wrap .el-input__inner{
    border-radius: 30px;
  }
  .pushState1{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f0f9eb;
    color: #67c23a;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .pushState2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fffdcc;
    color: #f5b813;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .pushState0{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fef0ef;
    color: #57bf06;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .pushState-1{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: #fef0ef;
    color: #e8716d;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .main-container ::v-deep .el-loading-spinner{
    top: 15%;
  }


  $fontColor606266:#606266;
  $fontWeight500:500;
  .pagination-container ::v-deep {
    .input-wrap-currentPage{
      & {
        display: inline-block;
        font-size: 14px;
        color: $fontColor606266;
        font-weight: $fontWeight500;
        margin-left: 16px;
        text-align: center;
      }
      span:last-child{
        text-align: left;
        margin-left: 5px;
        min-width: 18px;
      }
      .slot-input-currentPage {
        width: 60px;
        height: 28px;
      }
      input {
        height: 28px;
        line-height: 28px;
      }
    }
    .jumpPage-wrap{
      & {
        display: inline;
      }
      .jumpPage{
        & {
          font-weight: $fontWeight500;
          color: $fontColor606266;
        }
      }
    }
  }

  .article-wrap .imgs-wrap ::v-deep {
    .previews-imgs{
      display: inline-block;
      max-width: 80px;
      max-height: 80px;
      border-radius: 5px;
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
    }
  }

  .article-wrap ::v-deep .data-wrap-show{
    background-color: #f2f6fc;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &-title{
      color: #4c1bab;
      padding: 20px 0px 10px;
    }
    & span{
      font-size: 14px;
    }
    .txt{
      margin-left: 0px;
      color: #303133;
    }
    .num {
      color: #909399;
    }
    li{
      text-align: left;
    }
  }
  
  //previews
  .box-card ::v-deep .post-views{
    width: 86px;
    margin-right: 70px;
    // color: $primary;
    // border: 1px solid $primary;
  }
  .pushBtn{
    text-align: center;
  }

  .filterContainer::v-deep .select-state {
    & {
      width: 150px;
      margin-right: 10px;
    }
    input {
      height: 40px;
    }
  }

  .box-card .pushBtn button:not(.is-disabled):hover{
    color: #FFF;
    background-color: #7E7EF4;
    border-color: #7E7EF4;
  }
  .dj-progress{
    background-color:#ffaa00;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 82px;
  }

