@import "../../styles/variables.scss";
@import './index.scss';

.article-box{
  overflow-y:auto;
  max-height: 400px;
  .box-card {
    &{
      box-shadow: unset;
    }
    &:hover {
        border-color:$primary;
    }
    .right-wrap{
        width:300px;
        border-radius: 5px;
        // padding: 20px;
        background-color: $bg;
       
    }
    .data-wrap {
        &{
          width:200px;
        }
        .right-title {
            color: $primary_dark;
            text-align: center;
        }
        
        li {
            list-style: none;
            padding: 10px 0;
        }
    }
  }
}

//折叠区
.app-container ::v-deep .el-menu-wrap{
  .el-menu-item, .el-submenu__title{
    height:auto;
  }
  .el-submenu__title{
    padding:0px;
    height: 115px;
  }
  
  .title{
    &-checkbox{
      height: 28px;
    }
    &-times{
      height: 30px;
    }
    .item .el-badge__content{
        background-color: green;
    }
    .fb-svg-container{
      background-color:#1e69f5;
    }
    .wrap-lists-user{
      display: inline-block;
      margin-right: 10px;
      margin-top: 25px;
    }
    .el-badge__content.is-fixed{
      top:12px;
    }
  }
  
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow{
  display: block!important;
}

.article-wrap .imgs-wrap ::v-deep .previews-imgs{
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

//新开
.app-container .article-wrap ::v-deep{
  .left-wrap .title{
     margin-bottom: 10px;
  }
  div.article-header{
    border:none;
  }
  // .user-wrap{
  //   padding-top: 5px;
  //   max-width: 253px;
  //   max-height: 70px;
  //   overflow-x: auto;
  // }
  // .user-inner-wrap{
  //   max-width: 1517px;
  //   height: 70px;
  //   text-align: right;
  // }

  .article-title{
    max-width: 300px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  .FACEBOOK,
  .TWITTER{
    width:auto;
    margin-left:10px;
    font-size: 14px;
  }
  .bottom-wrap p{
    font-size: 14px;
    padding:0px 10px;
    line-height: 1.8em;
  }
  .article-header > .left-wrap{
    &{
      width:13%!important;
      border-right: 1px solid #dddddd;
    }
    .item{
      margin-right: 10px;
    }
  }
  .article-header > .right-wrap{
    &{
      width: 83.6%;
      margin-left:3%;
    }
  }

  .data-wrap-show{
    background-color: #f2f6fc;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &-title{
      color: #47289b;
      padding: 20px 0px 10px;
    }
    & span{
      font-size: 14px;
    }
    .txt{
      margin-left: 0px;
      color: #303133;
    }
    .num {
      color: #909399;
    }
  }
  .data-wrap-show li{
    list-style: none;
    margin: 0;
    text-align: left;
  }

  .data-wrap{
    background-color: #f2f6fc;
    height: 200px;
    width: 200px;
    border:1px solid #ebeef5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .data-wrap>div{
    text-align: center;
    padding:20px 0px;
    color:#47289b;
  }
  .data-wrap-show ul{
    padding: 0;
  }
  .data-wrap-show li{
    list-style: none;
    padding: 0px;
    margin: 0px;    
    padding-bottom: 20px;
    text-align: left;
    padding: 10px 30px 20px 30px;
  }
  .data-wrap-show li span{
    display: inline-block;
  }
  .data-wrap{
    .txt{
      margin-left: 0px;
      color: #303133;
    }
    .num {
      color: #909399;
    }
    li{
      text-align: left;
    }
  }
  .zs-progress{
    background-color:#7d79f1;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 180px;
  }
  .zf-progress{
    background-color:$primary;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 180px;
  }
  .hf-progress{
    background-color:#64c52a;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 180px;
  }
  .dz-progress{
    background-color: $primary;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 180px;
  }
  .dj-progress{
    background-color:#ffaa00;
    height:6px;
    border-radius: 9px;
    margin:0 10px;
    max-width: 180px;
  }
  .tiems{
    color:#cbccd0;
    font-size: 14px;
  }
  .tiems span{
    color: #7e7ef4;
  }
  // 贴文排列
  .article-status-success{
    padding:10px;
    background-color: #f1f9ec;
    color:#6bc532;
    margin:0px 10px;
  }
  .article-title{
    padding:10px;
    background-color:#f3f3ff;
    color:#8176ff;
  }
  .el-card__body{
    padding: 10px 20px;
    background-color: #fafafa;
  }
  
  .pushState2{
    display: inline-block;
    font-size: 14px;  
    margin-left: 10px;
    background-color: #fffdcc;
    color: #f5b813;
    padding: 5px;
  }
  .pushState1{
    display: inline-block;
    font-size: 14px;  
    margin-left: 10px;
    background-color: #f1f9ec;
    color: #57bf06;
    padding: 5px;
  }
  .pushState0{
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    background-color: #fef0ef;
    color: #57bf06;
    padding: 5px;
  }
  .pushState-1{
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
    background-color: #fef0ef;
    color: #e8716d;
    padding: 5px;
  }
}

.openList,
.closeList{
  border:none;
  margin-top: 6px;
}
.btn-wrap{
  width:auto;
}  


  //角標
  @mixin aouthTypeIcon($top, $left, $width, $height, $raudis) {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    border-radius: $raudis;
    -webkit-border-radius: $raudis;
    -moz-border-radius: $raudis;
    -ms-border-radius: $raudis;
    -o-border-radius: $raudis;
  }

  .dialog-oauthType{
    &{
       position: relative;
     }
   .badge {
       position: absolute;
       border:white solid 1px;
       z-index: 1000;
       &.twitter {
         background-color: rgb(10, 105, 248);
       }
       &.facebook {
         background-color: rgb(0, 60, 255);
       }
       @include aouthTypeIcon(-4px, 60px, 1em, 1em, 1em);
     }
 }
 .content-oauthType{
     &{
         position: relative;
     }
     .badge {
       position: absolute;
       border:white solid 1px;
       z-index: 1000;
       &.twitter {
         background-color: rgb(10, 105, 248);
       }
       &.facebook {
         background-color: rgb(0, 60, 255);
       }
       @include aouthTypeIcon(-4px, 30px, 0.8em, 0.8em, 0.8em);
     }
 }

 $fontColor606266:#606266;
 $fontWeight500:500;
 .pagination-container ::v-deep {
   .input-wrap-currentPage {
     & {
       display: inline-block;
       font-size: 14px;
       color: $fontColor606266;
       font-weight: $fontWeight500;
       margin-left: 16px;
       text-align: center;
     }
     span:last-child {
       text-align: left;
       margin-left: 5px;
       min-width: 18px;
     }
     .slot-input-currentPage {
       width: 60px;
       height: 28px;
     }
     input {
       height: 28px;
       line-height: 28px;
     }
   }
   .jumpPage-wrap {
     & {
       display: inline;
     }
     .jumpPage {
       & {
         font-weight: $fontWeight500;
         color: $fontColor606266;
       }
     }
   }
 }


 .el-scrollbar ::v-deep {
  .box-card .el-card__body {
    padding: 20px 20px 20px 40px;
  }
  .pc-wrap .content-wrap{
    width: 418px;
    margin: 0 auto;
  }
}



