@import "../../styles/variables.scss";

/* reset element-ui css */
.login-container ::v-deep  {
  .el-input {
    display: inline-block;
    // height: 47px;

    input {
      border: none
    }
  }
  

  .el-form-item {
    border: 1px solid $dark_gray;
    // background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
  .el-form-item:active,.el-form-item:hover{
    border-color: $primary;
  }
}

.login-container {
  font-size:12px;
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .box-wrapper {
    width: 400px;
    margin: 150px auto;
    height: 400px;
    .tit {
      color:$primary_dark;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      text-align: left;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
 
  .login-form {
    position: relative;
    max-width: 90%;
    padding: 15px 20px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #d3d3f0;

    .el-col {
      font-size:12px;
      color:$primary;
      text-align: center;
    }
    .el-col:not(:last-child) {
      border-right: 1px solid #aaa;
    }
    .link-button {
        color: $primary_dark;
        font-weight: normal;
        padding: 0 5px;
    }
    .error {
      color: $err ;
    }
    
    .icon {
      color: #fff;
      font-size: 28px;
      margin-top: 4px;
    }
    
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    width: 35%;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }

  // bind-dialog
  .bind-dialog ::v-deep {
    .body{
      text-align: center;
    }
    .el-icon-warning-outline {
      color:$primary;
      font-size: 40px;
      width: 40px;
    }
  }
}